/* Cartpage.css */

.pageContent {
    width: 100vw;
    
    position: relative;
  }
  
  .pageContent .pageTitle {
    height: 10vh;
    width: 99%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  
  .pageContent .itemAndPrice {
    display: flex;
    justify-content: space-between;
    height: 70vh;
  }
  .pageContent .cartdisplayOuterdiv{
    width: 70%;
    display: flex;
    justify-content: center;

  }
  
  .pageContent .cartItemDisplay{
    width: 100%;
    max-width: 600px;
    
  }
  .itemDisplayOuterDiv{
    height: 100%;
  }
  .pageContent .cartPrice1 {
    width: 30%; 
    background-color: rgb(249, 81, 81);
    color: white;
    height: 70vh;
    border-radius:10px ;
    position: fixed;
    right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  @media (max-width : 700px) {
    .pageContent .cartPrice1 {
        position: fixed;
        height: 10vh;
        width: 100%;
        bottom: 0px;
        left: 0px;
      }
      .pageContent .cartdisplayOuterdiv{
        width: 100%;
      }
      
      
  }
  